#admin-main-container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 6% 94%;
    grid-template-columns: 20% 80%;
}
#container-header{
    grid-column: span 3;
    border: 1px solid #333;
}
#menu{
    width: 100%;
    background-color: #555;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    border-right: 1px solid #333;
}

#content{
    width: 100%;
    overflow: scroll;
    width: 100%;
    grid-column: span 2;
    position: relative;
    background-color: #eee;
}
.menu-item-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 50px;
}
.menu-item-name{
    color: #fff;
    transition: 0.1s;
}
#make-pay{
    display: none;
    justify-content: center;
    align-items: stretch;
}
#pay-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.pay-item-container{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.pay-item-container-name{
    width: 30%;
}
.pay-item-container-input{
    width: 70%;
}

#all-payments{
    flex-direction: column;
    justify-content: space-between;
}
#payment-item-header{
    display: grid;
    grid-template-columns: 10% 18% 18% 18% 18% 18%;
    margin-bottom: 10px;
}
.payments-item-wrapper{
    display: grid;
    grid-template-columns: 10% 18% 18% 18% 18% 18%;
    border-bottom: 1px solid #aaa;
    margin-bottom: 8px;
}
#admin-panel-orders-total-wrapper{
    border:1px solid #bbb;
    width: 65%;
    margin-bottom: 20px;
}
#stats_graphics{
    border:1px solid #bbb;
    width: 65%;
    margin-bottom: 20px;
}
#stats_graphics_header{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
#stats_graphics_content{
    display: none;
}
#admin-panel-orders-by-channel{
    display: none;
    flex-direction: column;
}
#admin-panel-orders-by-channel-header{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.admin-order-item-products-content-header{
    margin-bottom: 10px;
    width: 94%;
    display: grid;
    grid-template-columns: 9% 7% 7% 25% 6% 6% 6% 7% 7% 11% 8%;
    grid-template-rows: 1fr;
    font-weight: bold;
}
.admin-order-item-products-content{
    width: 94%;
    display: grid;
    grid-template-columns: 9% 7% 7% 25% 6% 6% 6% 7% 7% 11% 8%;
    grid-template-rows: 1fr;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
}

.admin-content-item{
    position: absolute;
    left: 15px;
    top: 10px;
    display: none;
    width: 97%;
}
#customers-header{
    display: grid;
    grid-template-columns: 6% 18% 18% 20% 18% 15% 15%;
    margin-bottom: 10px;
}
.customer-content{
    display: grid;
    grid-template-columns: 6% 18% 18% 20% 18% 15% 15%;
    border-bottom: 1px solid #aaa;
    margin-bottom: 8px;
}
.order-item-user-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#orders-filter{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}
#admin-panel-orders-total{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.admin-panel-orders-total-item:nth-child(2){
    margin-left: 10px;
}
.admin-panel-orders-total-digits{
    font-weight: bolder;
}
#manually-make-order{
    display: flex;
    justify-self: flex-end;
}
#orders-filter-date{
    display: flex;
    justify-content: flex-start;
}
.order-filter-item{
    margin-right: 6px;
}
#supplier_settlements{
    width: 100%;
    padding: 0;
}
#supplier_settlements_wrapper{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90vh;
    overflow: scroll;
}
.suppliers_settlements_item{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(120px, 1fr);
    grid-template-rows: 1fr;
}
.supplier_name{
    display: flex;
    justify-content: flex-start;
    height: 100%;
}
.settlementsByMonth{
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
}
.settlementsByMonth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.supplier_settlements_months{
    font-style: italic;
}
.supplier_settlements_sums{
    font-weight: 600;
}
.admin-order-item-sum{
    display: flex;
    flex-direction: column;
}
.admin-order-item-wrapper{
    width: 100%;
    border: 1px solid #bbb;
    margin-bottom: 11px;
}
.order-item-header{
    background-color: #ddd;
    border: none;
    padding: 5px;
}
#order-filter-btn-drop{
    margin-left: 5px;
}
#manually-order-wrapper{
    width: 100%;
    padding-bottom: 200px;
}
#manually-order-total{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 40px;
}
.manualy-order-total-item{
    width: 25%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
#manually-order-parts-list{
    width: 95%;
    
    position: relative;
}
#manually-order-parts-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.manually-order-parts-list-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.manually-order-parts-list-item-header{
    display: grid;
    grid-template-columns: 10% 10% 30% 10% 5% 10% 10% 10%;
    grid-template-rows: 1fr;
    column-gap: 5px;
}
.manually-order-parts-list-item-content{
    display: grid;
    grid-template-columns: 10% 10% 30% 10% 8% 10% 10% 10%;
    grid-template-rows: 1fr;
    column-gap: 4px;
}
#manually-order-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
#manually-order-main{
    width: 50%;
}
.alert{
    display: none;
}
#goods_in_office_add{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}
#add_new_good_in_office_form_wrapper{
    width:50%;
}
.good_in_office_delete{
    cursor: pointer;
}

