@media (min-width: 581px) {
    #cart-content-wrapper{
        display: flex;
        justify-content: center;
        align-items: stretch;
    }
    #cart-content-inner-wrapper{
        width: 80%;
        
    }
    #cart-header{
        width: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        background-color: #f2efe9;
        height: 80px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #cart-pre-header{
        background-color: #f2efe9;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 10px;
    }
    #cart-header-name{
        font-size: 2em;
        font-weight: 600;
    }
    #cart-header-sum{
        font-size: 2em;
        font-weight: 600;
    }
    .cart-table-item{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
    }
    #cart-pre-header{
        display: flex;
        justify-content: flex-end;
    }
    .cart-item-delete:hover{
        cursor: pointer;
    }
    #order-confirmation-form{
        position: absolute;
        top: 250px;
        width: 40%;
        left: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        display: none;
        z-index: 6;
        border: 1px solid #aaa;
        height: 30vh;
        background-color: #eee;
        border-radius: 20px;
    }
    #order-confirmation-form-header{
        padding-left: 30px;
        padding-top: 30px;
        font-size: 1.6em;
        width: 100%;
        height: 25%;
        border-bottom: 1px solid #aaa;
    }
    #order-confirmation-form-content{
        padding-left: 30px;
        padding-top: 30px;
        font-size: 1.3em;
        width: 100%;
        height: 45%;
        border-bottom: 1px solid #aaa;
    }
    #order-confirmation-form-buttons{
        text-align: end;
        width: 100%;
        height: 30%;
        padding-right: 30px;
        padding-top: 30px;
    }
    #cart-shadow{
        left: 0;
        top: 0;
        position: absolute;
        display: none;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .4);
        z-index: 5;
    }
    
    #order-btn-submit{
        display: none;
    }
}



