.garage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    min-height: 69vh;
    margin-top: 150px;
}
.garage-container{
    display: flex;
    justify-content: center;
}
#garage-list{
    margin-top: 20px;
}
#garage-new-item-create{
    min-height: 50vh;
    margin-top: 100px;
    padding-left: 180px;
    padding-right: 300px;
}