
body{
    padding: 0;
    margin: 0;
    background-color: #0d6efd;
}

a {
    text-decoration: none;
}

#main-container{
    width: 100;
    min-height: 80vh;
    border: 1px solid red;
}

.stock-item-cart-btn{
    padding: 1px;
    border-radius: 2px;
    border: 1px solid transparent;
}
.stock-item-cart-btn:hover{
    cursor: pointer;
    border: 1px solid #8fcae6;
}