@media (max-width: 580px) {
    .alertion-success{
        width: 100%;
        background-color: #d1e7dd;
        color: #0f5132;
        border: 1px solid #badbcc;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
    }
    #main-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        width: 85%;
        min-height: 90vh;
        margin-bottom: 180px;
    }
    #feedback-form-wrapper{
        margin-bottom: 15px;
    }
    #feedback-form-close-container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        cursor: pointer;
    }
    #feedback-form-inner-wrapper{
        display: none;
    }
    #steering{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 30vh;
        margin-bottom: 10px;
    }
    #steering-wrapper{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #eee;
    }
    #steering-reika{
        position: absolute;
        width: 100%;
        height: 70%;
        background-image: url('/images/hyundai/kia.svg');
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: none;
    }
    #steering-gur{
        position: absolute;
        width: 100%;
        height: 70%;
        background-image: url('/images/hyundai/hyundai.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    #steering-text{
        position: absolute;
        font-size: 0.8em;
        text-align: center;
        bottom: 0;
        font-weight: 600;
    }
    #mobis{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 30vh;
        border: 1px solid #eee;
        margin-bottom: 10px;
    }
    #mobis-wrapper{
        background-image: url('/images/chinacars/chinese-logos.png');
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    #mobis-text{
        text-align: center;
        width: 100%;
        font-size: 0.8em;
        font-weight: 600;
    }
    #all-parts{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height:  30vh;
        width: 90%;
        border: 1px solid #eee;
        margin-bottom: 10px;
    }
    #all-parts-wrapper{
        background-image: url('/images/car-from-parts.jpg');
        width: 100%;
        height: 70%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 100%;
        display: flex;
        justify-content: center;
    }
    #all-cars-text{
        text-align: center;
        margin-bottom: 5px;
        width: 100%;
        font-size: 0.8em;
        font-weight: 600;
    }
    .stock-item-cart-btn{
        padding: 1px;
        border-radius: 2px;
        border: 1px solid transparent;
    }
    .stock-item-cart-btn:hover{
        cursor: pointer;
        border: 1px solid #8fcae6;
    }
    #whatsapp-container{
        width: 90%;
        margin-left: 20px;
        cursor: pointer;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        box-shadow: 5px 5px 5px #fff;
        
    }
    #whatsapp-offer-wrapper{
        text-decoration: none;
        color: #111;
        position: relative;
        width: 80%;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .whatsapp-offer{
        font-weight: 600;
        position: absolute;
        right: 10px;
        top: 0;
        text-align: right;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        line-height: 30px;
    }
    #whatsapp-offer-2{
        color: #222;
        display: none;
    }
    #whatsapp-offer-1{
        color: #042d4d;
    }
    #modal-qr{
        width: 300px;
        height: 300px;
        margin-top: 200px;
        z-index: 5;
        text-align: center;
        color: #fff;
    }
    #modal-qr img{
        width: 100%;
        margin-bottom: 10px;
    }
    .close-flash{
        cursor: pointer;
    }
    #cart-wrapper{
        display: flex;
        justify-content: flex-start;
    }
    #whatsapp-container{
        position: fixed;
        right: 5px;
        bottom: 80px;
    }

    #side-bar-right-mini{
        width: 70%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        position: absolute;
        right: 0;
        top: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border: 1px solid #ccc;
        z-index: 10;
        background-color: #fff;
        display: none;
    }
    #main-mini-shadow{
        width: 100%;
        height: 100vh;
        background-color: rgba(001, 001, 001, 0.4);
        z-index: 9;
        position: absolute;
        display: none;
    }
    #side-bar-right-mini-close-wrapper{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding-right: 10px;
        padding-top: 10px;
    }
    #side-bar-right-mini-close-container{
        border-radius: 50%;
        background-color: #ddd;
        margin-bottom: 10px;
    }
    .side-bar-right-min-contacts-item{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding-right: 10px;
        margin-bottom: 10px;
    }
    #accordionExample{
        width: 100% !important;
    }
    .accordion-body{
        font-size: 0.9em;
        overflow: scroll;
    }
}