#orders-content-wrapper{
    margin-top: 150px;
    min-height: 50vh;
}

.order-item-wrapper{
    border: 1px solid #aaa;
    margin-bottom: 10px;
}
.order-item-header{
    display: grid;
    grid-template-columns: 10% 19% 19% 21% 21% 21%;
    grid-template-rows: 1fr;
    padding: 25px;
    font-size: 20px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
}
.order-item-products-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-item-products-content-header{
    margin-bottom: 10px;
    width: 94%;
    display: grid;
    grid-template-columns: 9% 10% 8% 30% 6% 6% 6% 7% 8% 10%;
    grid-template-rows: 1fr;
    font-weight: bold;
}
.order-item-products-content{
    width: 94%;
    display: grid;
    grid-template-columns: 9% 10% 8% 30% 6% 6% 6% 7% 8% 10%;
    grid-template-rows: 1fr;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
}
.order-item-sum{
    font-size: 25px;
    font-weight: bold;
}
.order-item-user-name{
    padding: 5px;
}
.change_status{
    margin-left: 5px;
}
.order-products-status{
    font-size: 0.9em;
}
.payment_waiting{
    color: #FF4F00;
}
.processing{
    color: #FFB841;
}
.supplier_refusal{
    color: red;
}
.arrived_at_the_point_of_delivery{
    color: #adff2f;
}
.issued{
    color: #00ff00;
}
.returned{
    color: #5353ec;
}
.close-flash{
    cursor: pointer;
}



