@media (max-width: 580px) {
    #main-header{
        display: none;
    }
    #footer-wrapper{
        display: none;
    }
    .order-products-searched_number{
        display: none;
    }
    #orders-content-wrapper{
        margin-top: 10px;
        min-height: 50vh;
        margin-bottom:90px;
    }
    
    .order-item-wrapper{
        border: 1px solid #aaa;
        margin-bottom: 10px;
    }
    .order-item-header{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 1fr;
        padding: 25px;
        font-size: 20px;
        border-bottom: 1px solid #aaa;
        margin-bottom: 10px;
    }
    .order-item-products-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .order-item-products-content-header{
        display: none;
    }
    .order-item-products-content{
        width: 94%;
        display: grid;
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
        grid-template-columns: 25% 18% 16% 30% 11%;
        grid-template-rows: 1fr;
        font-size: 15px;
        font-style: italic;
        margin-bottom: 10px;
    }
    .order-item-sum{
        font-size: 25px;
        font-weight: bold;
    }
    .order-item-user-name{
        padding: 5px;
    }
    .change_status{
        margin-left: 5px;
    }
    .order-products-status{
        font-size: 0.9em;
    }
    .payment_waiting{
        color: #FF4F00;
    }
    .processing{
        color: #FFB841;
    }
    .supplier_refusal{
        color: red;
    }
    .arrived_at_the_point_of_delivery{
        color: #adff2f;
    }
    .issued{
        color: #00ff00;
    }
    .returned{
        color: #5353ec;
    }
    .close-flash{
        cursor: pointer;
    }
}