@media (max-width: 580px) {
    #footer-wrapper{
        display: none;
    }
    #footer-bar-mini{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #d8e6eb;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #header-cart-qty{
        display: none;
        font-size: 0.8em;
    }
    #logo-container{
        display: flex;
        justify-content: flex-start;
    }
    #logo-img{
        height: 60px;
    }
    #cart-wrapper{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #auth-buttons-container{
        display: flex;
        justify-content: flex-start;
        align-items: center ;
        height: 60px;
    }
}


