@media (max-width: 580px) {
    #footer-wrapper{
        display: none;
    }
    #footer-bar-mini{
        position: fixed; 
        bottom: 0; 
        left: 0; 
        right: 0; 
        background: #fff; 
        border-top: 1px solid #eee; 
        display: flex; 
        justify-content: space-around; 
        align-items: center; 
        height: 65px; 
        z-index: 10; 
        box-shadow: 0 -2px 10px rgba(0,0,0,0.05);
        padding-bottom: env(safe-area-inset-bottom);
        
    }
    
}


