
@media (max-width: 580px) {
    #search-res-main-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        min-height: 55vh;
        background-color: #eeeeee;
        padding-bottom: 20px;
        margin-bottom: 80px;
    }
    #search-res-main-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: baseline;
    }
    #search-res-filter{
        width: 16%;
        max-height: 60vh;
        overflow: scroll;
        display: none;
    }
    #search-part-main-container{
        width: 100%;
    }
    #search-res-header{
        font-size: 1.1em;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        font-weight: 500;   
        height: 80px;
    }
    #search-res-part-header{
        display: none;
    }
    .search-res-part-header-item{
        padding: 10px;
        display: flex;
        align-items: flex-end;
    }
    
    .searchResForRequestPartNumberHeader{
        background-color: #f2efe9;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
        height: 50px;
    }
    #requestPartNumberContainer,
    #crossContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
    .requestPartNumberContainer-item{
        display: grid;
        grid-template-columns: 11% 27% 32% 30%;
        grid-template-rows: minmax(80px, flex) minmax(80px, flex);
        background-color: #fff;
        padding-left: 5px;
        margin-bottom: 7px;
        padding-bottom: 5px;
    }
    .requestPartNumberContainer-item-entity {
        margin-top: 9px;
    }
    .requestPartNumber-supplier{
        font-style: italic;
        color: #aaa;
        font-size: 0.5em;
    }
    .requestPartNumber-brand{
        font-size: 0.85em;
        text-align: left;
        font-weight: bold;
        color: #363636;
        padding-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
    }
    .requestPartNumber-partnumber{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        font-size: 12px;
        color: #808080;
    }
    .requestPartNumber-name{
        text-align: left;
        font-size: 0.9em;
    }
    .requestPartNumber-info{
        display: none;
    }
    .requestPartNumber-delivery{
        text-align: center;
        color: #111;
        font-size: 0.9em;
    }
    .requestPartNumber-count{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        color: #92b6c8;
    }
    .requestPartNumber-price{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .stock-item-price{
        text-align: left;
        font-weight: bold;
        font-size: 15px;
        color: #646464;
    }
    .requestPartNumber-cart{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .cross-item-countable{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
    }
    .stock-item-cart{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .stock-item-cart-qty input{
        max-width: 70%;
        margin-left: 5px;
    }
    .parts-on-stock{
        background-color: rgb(168, 249, 86);
        color: #363636;
    }
    #show-other-items{
        display: none;
    }
    #show-other-items a{
        font-style: italic;
        font-size: 10px;
        margin-top: 10px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .pagination-nav{
        flex-direction: row;
        justify-content: flex-end;
        align-items: baseline;
        margin-right: 10px;
        display: none;
    }
    .page-item{
        cursor: pointer;
    }
    #crossesContainer-on-stock{
        padding-bottom: 10px;
    }
    #search-res-filter{
        font-size: 0.9em;
        letter-spacing: 1px;
        background-color: #fff;
        padding: 5px;
    }
    .search-res-filter-item-header{
        background-color: #eeeeee;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .sticky {
        position: sticky;
        top: 0;
    }
}

