@media (max-width: 580px) {
    #main-header{
        display: none;
    }
    #register-wrapper{
        position: absolute !important;
        left: 5% !important;
        width: 90% !important;
        margin-top: 50px !important;
    }
    #footer-wrapper{
        display: none;
    }
}